@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "react-toastify/dist/ReactToastify.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=ZCOOL+KuaiLe&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
body.modal-open {
  overflow: hidden;
}